*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url('bg.jpeg'); */
    /* background-size: cover; */
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    background: #f3f3f3;
    justify-content: center;
    z-index: 210;
}

.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -650px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease-in;
}

.startmenu img{
    border-radius: 15px;
}

.right{
    /* justify-self: flex-end; */
    height: 85%;
    margin: 6px 0;
    position: absolute;
    right: 0;
}